<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" type="text/css" />
</head>

<body>

    <h1>To Do List</h1>

    <hr> 
    
    {% for t in tasks %}


    <p><span class="{% if t.urgent %}urgent{% endif %} {% if t.done %}done{% endif %}">{{ t.name }} : {{t.description}}</span> <a href="/edit/{{ t.id }}">Edit</a></p>

    {% endfor %}





    <hr>
    <a href="{{url_for('show_add_form')}}">Add Task</a>
</body>

</html>
